# Copy this file to .env and provide your Azure credentials
SUBSCRIPTION_ID="00000000-0000-0000-0000-000000000000"
RESOURCE_GROUP="fraud-detection-rg"
WORKSPACE_NAME="fraud-detection-ws"
AML_COMPUTE="automated-ml-cluster"
AML_DATASET="azureml:mltable_creditcard_data:1"
