# Environment variables and secrets
.env
*.json
*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env*/
.venv/
venv/

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info

# Testing and coverage
.pytest_cache/
.coverage*
hypothesis/

# Jupyter
.ipynb_checkpoints

# IDEs and tooling
.idea/
.vscode/
*.code-workspace

# Data & artifacts
mlruns/
outputs/
logs/
